<html>
<%= stylesheet_link_tag 'home.css' %>
<body>
<ul>
  
</ul>

<div class="header">
  <div class="container">
  <%= image_tag "tamuSeal.png"%>
  </div>
  <h1>Welcome to the</h1>
  <h1>Arabic Club Participation Tracker</h1>
  <button onclick="myFunction()" class= "homeButton">Dark Mode</button>
  <a href="https://forms.gle/aqqe4tSWXXzX7GUG8">User Feedback Form</a>
</div>



<script>
function myFunction() {
   var element = document.body;
   element.classList.toggle("dark_mode");
}
</script>


</body>

</html>

