<%= stylesheet_link_tag 'events.css' %>
<body>
<h1>Editing Event</h1>

<%= render 'form', event: @event %>

<button type="button" class="showButton"><%= link_to 'Show', @event %></button> |
<button type="button" class="showButton"><%= link_to 'Back', events_path %></button>

</body>