<%= stylesheet_link_tag 'logs.css' %>
<body>
<h1>Editing Log</h1>

<%= render 'form', log: @log %>


<% if officer_signed_in? %>
<button type="button" class="showButton"><%= link_to 'Back', logs_path %></button>
<% end %>
</body>