<%= stylesheet_link_tag 'logs.css' %>
<body>
<h1>Editing Log</h1>

<%= render 'form', log: @log %>

<button type="button" class="showButton"><%= link_to 'Show', @log %></button> |
<button type="button" class="showButton"><%= link_to 'Back', logs_path %></button>

</body>