<%= stylesheet_link_tag 'logs.css' %>
<body>
<h1>Member Attendance</h1>
<h5> "Event" Field should correspond to event number, BBQ is the 1st event, so "Event" should be 1 </h5>
<%= render 'form', log: @log %>

</body>