<%= stylesheet_link_tag 'logs.css' %>
<body>
<h1>Member Attendance</h1>
<h5> "Event" field should correspond to event number, which can be found under the "Events" tab under the "Event" column </h5>
<%= render 'form', log: @log %>

</body>