<h1>Search Results</h1>

<table>
  <thead>
    <tr>
      <th>Comment</th>
      <th>Rating</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @results.each do |result| %>
      <tr>
        <td><%= result.comment %></td>
        <td><%= result.rating %></td>
      </tr>
    <% end %>
  </tbody>
</table>
    