<%= stylesheet_link_tag 'members.css' %>
<body>
<h1>Editing Member</h1>

<%= render 'form', member: @member %>

<button type="button" class="showButton"><%= link_to 'Show', @member %> </button> |
<button type="button" class="showButton"><%= link_to 'Back', members_path %></button>
</body>

